




  <nav class="font-sans flex flex-col text-center sm:flex-row sm:text-left sm:justify-between py-4 px-6 bg-white shadow sm:items-baseline w-full">
    
      <a href="/"  class="text-2xl no-underline font-serif text-grey-darkest hover:text-red-dark">Mongoose Flights</a>
  
    <div class="font-serif">
      <a href="/flights" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">All Flights</a>
      <a href="/flights/new" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Add Flight</a>
      <a href="/destinations/new" class="text-lg no-underline text-grey-darkest hover:text-blue-dark ml-2">Add Destination</a>
    </div>
  </nav>